{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@config": "./server/config",
                "@routes": "./server/routes",
                "@controllers": "./server/controllers"
            }
        }]
    ]
}