{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@": "./",
                "@client": "./client",
                "@server": "./server",
                "@store": "./client/store",
                "@pages": "./client/pages",
                "@models": "./server/models",
                "@config": "./server/config",
                "@routes": "./server/routes",
                "@middleware": "./server/middleware",
                "@validators": "./server/validators",
                "@components": "./client/components",
                "@controllers": "./server/controllers"
            }
        }]
    ]
}