{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "@": "./",
                "@pages": "./client/pages",
                "@config": "./server/config",
                "@routes": "./server/routes",
                "@components": "./client/components",
                "@controllers": "./server/controllers"
            }
        }]
    ]
}